<ion-app>
  <ion-split-pane contentId="main-content"
                  [class.menu-collapsed]="isMenuCollapsed()"
                  [disabled]="!(isAuthenticated$ | async)" when="lg">

    <ion-menu contentId="main-content" type="overlay" [class.menu-collapsed]="isMenuCollapsed()">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start" class="ion-hide-lg-down">
            <ion-button (click)="toggleMenu()">
              <ion-icon slot="icon-only" [name]="isMenuCollapsed() ? 'chevron-forward-outline' : 'menu-outline'"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none" class="ion-no-padding">
          @for (item of menuItems; track item.path) {
            @if (checkRole(item.data?.['roles'], (userRole$ | async))) {
              @if (isMenuCollapsed()) {
                <ion-item [button]="true"
                          [routerLink]="['/' + item.path]"
                          routerLinkActive="active-route"
                          routerDirection="root">
                  <ion-icon [name]="item.data?.['icon']"></ion-icon>
                </ion-item>
              }
              @else {
                <ion-menu-toggle [autoHide]="false">
                  <ion-item [button]="true"
                            [routerLink]="['/' + item.path]"
                            routerLinkActive="active-route"
                            routerDirection="root">
                    <ion-icon slot="start" [name]="item.data?.['icon']"></ion-icon>
                    <ion-label>{{ item.data?.['title'] }}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              }
            }
          }
          @if (isMenuCollapsed()) {
            <ion-item [button]="true" (click)="logout()" color="danger" class="ion-margin-top">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-item>
          } @else {
            <ion-item [button]="true" (click)="logout()" color="danger" class="ion-margin-top">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-content>
    </ion-menu>

    <div id="main-content" class="ion-page">
      @if (isAuthenticated$ | async) {
        <ion-header>
          <ion-toolbar color="tertiary">
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-title>{{ title$ | async }}</ion-title>

            <ion-buttons slot="end">
              <ion-button (click)="toggleTheme()">
                <ion-icon slot="icon-only" [name]="isDarkMode() ? 'sunny-outline' : 'moon-outline'"></ion-icon>
              </ion-button>

              <div class="ion-padding-horizontal">
                @if (isOnline()) {
                  <ion-icon name="cloud-done" color="success"></ion-icon>
                } @else {
                  <ion-icon name="cloud-offline" color="danger"></ion-icon>
                }
              </div>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      }

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>

  </ion-split-pane>
</ion-app>
